/* Ini File CSS */

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-icon {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-image: url(https://picsum.photos/200);
  background-size: cover;
}

.banner-image {
  height: 500px;
  background-image: url(https://picsum.photos/00);
  background-size: cover;
}

.content {
  height: 500px;
}

nav > a {
  border: 1px solid;
  padding: 5px;
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
}
